@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    position: relative;
    height: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.title{
    font-size: 3rem;
    margin:6vh;
    /* border: 7px dashed rgb(1,17,160); */
    border-radius: 20px;
    padding:1vh 5vw;
}


.cards{
    display: flex;
    /* align-items: center; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin:0 auto;
}

.card{
    width:400px;
    height:max-content;
    margin:1rem;
    padding:1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image{
    width:380px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.tour-info{
    margin:20px 5px;
}

.tour-price{
    color:#1faa59;
    font-size:1.3rem;
}

.tour-name{
    font-size:1.5rem;
}

.read-more{
    color:#12b0e8;
    cursor: pointer;
}

.btn-red{
    margin-top:18px;
    padding: 10px 80px;
    border: 1px solid #b4161b;
    cursor: pointer;
    border-radius:10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #b4161b21;
}

.btn-red:hover{
    background-color: red;
    color:white;
    transition: all 0.2s;
}

.refresh{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-white{
    margin-top:18px;
    padding:10px 80px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-white:hover{
    background-color: white;
    color: black;
    transition: all 0.2s;
}
.ask-a-local-homepage__heading{
    font-size: 50px;
    margin-left: 520px;
    margin-bottom: 20px;
    color: white;
}
.ask-a-local-homepage--content{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.inline-video--video{
    width: 130vh;
    height:70vh;
    margin-right: 30px;
}
.button {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button:hover,
  .button:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  
  .button:active {
    opacity: .5;}
    body {
        display: flex;
        background: #333;
        justify-content: flex-end;
        align-items: flex-end;
        min-height: 100vh;
      }
      
      .footer {
        position: relative;
        width: 100%;
        background: #3586ff;
        min-height: 100px;
        padding: 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      
      .social-icon,
      .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
      }
      
      .social-icon__item,
      .menu__item {
        list-style: none;
      }
      
      .social-icon__link {
        font-size: 2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
      }
      .social-icon__link:hover {
        transform: translateY(-10px);
      }
      
      .menu__link {
        font-size: 1.2rem;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
        text-decoration: none;
        opacity: 0.75;
        font-weight: 300;
      }
      
      .menu__link:hover {
        opacity: 1;
      }
      
      .footer p {
        color: #fff;
        margin: 15px 0 10px 0;
        font-size: 1rem;
        font-weight: 300;
      }
      
      .wave {
        position: absolute;
        top: -100px;
        left: 0;
        width: 100%;
        height: 100px;
        background: url("https://i.ibb.co/wQZVxxk/wave.png");
        background-size: 1000px 100px;
      }
      
      .wave#wave1 {
        z-index: 1000;
        opacity: 1;
        bottom: 0;
        animation: animateWaves 4s linear infinite;
      }
      
      .wave#wave2 {
        z-index: 999;
        opacity: 0.5;
        bottom: 10px;
        animation: animate 4s linear infinite !important;
      }
      
      .wave#wave3 {
        z-index: 1000;
        opacity: 0.2;
        bottom: 15px;
        animation: animateWaves 3s linear infinite;
      }
      
      .wave#wave4 {
        z-index: 999;
        opacity: 0.7;
        bottom: 20px;
        animation: animate 3s linear infinite;
      }
      
      @keyframes animateWaves {
        0% {
          background-position-x: 1000px;
        }
        100% {
          background-positon-x: 0px;
        }
      }
      
      @keyframes animate {
        0% {
          background-position-x: -1000px;
        }
        100% {
          background-positon-x: 0px;
        }
      }
      .rev-section{
        margin: auto;
        padding: 0 1rem;
        max-width: 1100px;
        text-align: center;
      }
      
      .title{
        font-size: 3.5rem;
        color: rgb(50, 50, 50);
        margin-bottom: .5rem;
        color:#fff;
        font-family:cursive;
      }
    
      .reviews{
        margin: 2rem auto;
        display: flex;
        flex-wrap: wrap;
      }
      .review{
        margin: 0 1rem;
        min-width: 300px;
        flex: 1;
      }
      
      .head-review{
        margin: 1.75rem auto;
        width: 150px;
        height: 150px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
      }
      
      .body-review{
        background-color: rgb(238, 238, 238);
        padding: 2.5rem;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .name-review{
        font-size: 1.5rem;
        color: rgb(50, 50, 50);
        margin-bottom: .25rem;
      }
      .place-review{
        color: violet;
        font-style: italic;
      }
      .rating{
        color: rgb(253, 180, 42);
        margin: 1rem 0;
      }
      .desc-review{
        line-height: 1.5rem;
        letter-spacing: 1px;
        color: rgb(150, 150, 150);
      }
      
      @media (max-width: 678px){
        .review{
          margin-top: 1.5rem;
        }
      }
      .credit a{
        text-decoration: none;
        color: #fff;
      }
    
    